/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-quill/dist/quill.snow.css";

.modal {
  &::backdrop {
    background: rgba(0, 0, 0, 0.7);
  }
}

.ProseMirror {
  border-radius: 6px;
  padding: 8px;
  border: #d1d5db solid 2px;
  height: 206px;
}

.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
}
